body
    background: white
    color: #191B1F
    font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    font-weight: normal
    font-size: small

#search-input
  margin-bottom: 0.8em
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-weight: normal
  font-size: small

button
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-weight: normal
  font-size: small

#search-realtime-chckbox
  margin-left: 1em

#radio-container > label
  margin-right: 1.5em
  cursor:pointer
  input
    margin-right:0.3em

.unactivated
  button
    display: none
  .output_container
    display: none

.header
  margin-top: 1em
  font-weight: bold
  label
    font-weight: normal


#radio-container
  margin-top: 0.8em
  margin-bottom: 2em

.output_container
    min-height: 1em
    border-width: 4px
    border-style: solid
    border-color: #cecece

[type=checkbox],[type=radio]
    margin: 0
    vertical-align: middle

label.comment-toggler
  text-align: center

label.comment-toggler:hover
  cursor: pointer

label.comment-toggler::before
  font-family: Consolas, monaco, monospace
  font-weight: bold
  font-size: 15px
  content: "+"
  vertical-align: text-top
  display: inline-block
  width: 20px
  height: 20px
  margin-right: 3px
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%)

label.expanded::before
  content: "-"

.comments
  max-height: 0px
  overflow: hidden
  transition: max-height 0.5s

.comments.expanded
  max-height: 2000px


p
  margin-top: 0.3em
  margin-bottom: 0.3em
  font-family: monospace
  font-size: 1.2em
  b
    color: #0055ff

.score
    margin-right: 0.8em
    display: inline-block
    color: grey
