#main-div
    p Type in the texteArea below in order to print the properties of the corresponding "keydown" up and press events.
    textarea#txtArea Un textarea
    div#editableDiv(contentEditable='true')
        div
            span Une span editable
    </br>
    div#tableContainer