#editorTextContent
  overflow: auto

p
  margin-top       : 0px
  margin-bottom    : 0px
  margin-left      : 0px
  margin-right     : 0px
  color            : #333055

dl
  margin       : 0
  padding      : 0

dt
  margin       : 0
  padding      : 0

ul, ol
  margin: 0 1.5em 1.5em 0
  padding      : 0
  list-style-type: none

li
  margin       : 0
  padding      : 0
  display      : block
  
dd
  margin-left  : 32px

.l-01
  margin-left  : 22px

.l-02
  margin-left  : 42px

.l-03
  margin-left  : 62px

.l-04
  margin-left  : 8px

.Tu-01
  margin-left  : 20px
  display      : list-item

.Tu-02
  margin-left  : 40px
  display      : list-item

.Tu-03
  margin-left  : 60px
  display      : list-item

.Tu-04
  margin-left  : 80px
  display      : list-item

.Tu-05
  margin-left  : 100px
  display      : list-item

.Th-01
  margin-left  : 20px
  display      : list-item

.Th-02
  margin-left  : 40px
  display      : list-item

.Th-03
  margin-left  : 60px
  display      : list-item

.Th-04
  margin-left  : 80px
  display      : list-item

.vline_02
  margin-left  : 30px
  border       : 1px solid #DDDDDD
  width        : 10px
  height       : 100%
  position     : relative
  top          : 0

h1
  font-size    : 2em

h2
  font-size    : 1.5em

h3
  font-size    : 1.17em

h4
  font-size    : 1em

h5
  font-size    : .83em

h6
  font-size    : .75em

img
  border       : 0