
table 
    border-collapse collapse

thead
    font-weight bold
    background-color rgb(143, 79, 143)
    color rgb(255, 255, 255)

td
    padding 0px 5px 0px 10px
    border-color rgb(175, 185, 238)
    border-width 1px
    border-style solid

#editableDiv
    border       : #000000
    border-width : 1px
    border-style : solid
    

.odd
    background-color #efdfef
.even
    background-color #ffffff