.controls
    button.initBtn Initialise rows
    input.nbRowsToIni(type='number', value='100')
    br
    button.goDownBtn Go Down Half buffer
    button.goUpBtn Go Up Half buffer
    br
    button.addBtn Add n rows
    input.nbRowsToAdd(type='number', value='2')
    br
    button.deleteBtn Delete selected rows
    br
    button.unActivateBtn un-activate scroll listener
    br
    button.testLongListBtn Test consistency
    span.consistencyResult


.long-list-block.dynDiv_setLimit
    #resizable-container.dynDiv_moveDiv.dynDiv_hideMove
        section.resizedContainer.longListViewport
        .dynDiv_resizeDiv_br

.tests TESTS
    #mocha
