#resizable-container
    width      : 20em
    height     : 30em
    background : #ccc
    border     : 1px solid #aaa
    top        : 30px
    left       : 30px
    position   : absolute
    >div
        width:15px
        height:15px
        background-color:blue
        border:0