#resizable-container
    width: 150px;
    height: 150px;
    background: #ccc;
    border: 1px solid #aaa;
    top: 30px;
    left: 30px;
    position: absolute;
    >div
        width:15px
        height:15px
        background-color:yello