button.goDownBtn Go Down Half buffer
button.goUpBtn Go Up Half buffer
button.deleteBtn Delete selected rows
button.addBtn Delete selected rows
input.nbRowsToAdd(type='number') 2

#resizable-container.dynDiv_moveDiv
    section.resizedContainer.longTableViewPort
    .dynDiv_resizeDiv_tl
    .dynDiv_resizeDiv_tr
    .dynDiv_resizeDiv_bl
    .dynDiv_resizeDiv_br
