.cont1
    top: 30px
    left: 30px

.cont2
    top: 30px
    left: 210px

.cont3
    top: 30px
    left: 390px

.cont4
    top: 210px
    left: 30px

.cont5
    top: 210px
    left: 210px

.resizedContainer
    background-color :yellow
    position         :absolute
    top              :15px
    bottom           :15px
    right            :15px
    left             :15px

    img
        background-color:red
        display:block
        width:auto
        height:auto
        max-width:146px
        max-height:100px

.resizedContainer2
    background-color :yellow
    position         :absolute
    top              :15px
    bottom           :15px
    right            :15px
    left             :15px
    display         :flex
    justify-content :center
    align-items     :center

    div
        background-image    :url('../images/img.png')
        background-size     :contain
        background-repeat   :no-repeat
        background-position :center
        background-color:red
        width      :100%
        height     :100%
        max-width  :146px
        max-height :100px


// ne fonctionne PAS comme souhaité
// pourtant le dimensionnement de div.img  est fait comme
// dans l'exemple resizedContainer2 ... je ne comprends pas...
.resizedContainer3
    background-color :yellow
    position :absolute
    top      :15px
    bottom   :15px
    right    :15px
    left     :15px
    display         :flex
    flex-direction  :column
    justify-content :stretch
    align-items     :stretch

    div.img-container
        display         :flex
        justify-content :center
        align-items     :center
        flex-grow   :1
        flex-shrink :0
        background-color:#FF00DF
        margin :4px
        position:relative

    div.img
        // position :absolute
        background-image    :url('../images/img.png')
        background-size     :contain
        background-repeat   :no-repeat
        background-position :center
        background-color    :red
        width      :100%
        height     :100%
        max-width  :146px
        max-height :100px

    div.bottom-bar
        flex-shrink      :0
        height           :10px
        background-color :green
        margin-right     :4px
        margin-left      :4px


// fonctionne bien comme souhaité
.resizedContainer4
    background-color :yellow
    position         :absolute
    top              :15px
    bottom           :15px
    right            :15px
    left             :15px
    display         :flex
    flex-direction  :column
    justify-content :stretch
    align-items     :stretch

    div.img-container
        display         :flex
        justify-content :center
        align-items     :center
        flex-grow   :1
        flex-shrink :0
        background-color:#FF00DF
        margin :4px
        position:relative

    .img-container > .img
        position  :absolute
        top       :50%
        left      :50%
        transform : translateX(-50%) translateY(-50%)
        background-image    :url('../images/img.png')
        background-size     :contain
        background-repeat   :no-repeat
        background-position :center
        background-color    :red
        width      :100%
        height     :100%
        max-width  :146px
        max-height :100px

    div.bottom-bar
        flex-shrink:0
        height:10px
        background-color:green
        margin-right:4px
        margin-left :4px

// fonctionne bien comme souhaité
.resizedContainer5
    background-color :yellow
    position         :absolute
    top              :15px
    bottom           :15px
    right            :15px
    left             :15px
    display         :flex
    flex-direction  :column
    justify-content :stretch
    align-items     :stretch

    div.img-container
        display         :flex
        justify-content :center
        align-items     :center
        flex-grow   :1
        flex-shrink :0
        background-color:#FF00DF
        margin :4px
        position:relative

    .img-container > .img
        position  :absolute
        top       :50%
        left      :50%
        transform : translateX(-50%) translateY(-50%)
        background-image    :url('../images/img.png')
        background-size     :contain
        background-repeat   :no-repeat
        background-position :center
        background-color    :red
        width      :100%
        height     :100%
        max-width  :146px
        max-height :100px

    div.bottom-bar
        flex-shrink:0
        height:10px
        background-color:green
        margin-right:4px
        margin-left :4px
