#resizable-container.cont1.dynDiv_moveDiv
    section.resizedContainer
    .dynDiv_resizeDiv_tl
    .dynDiv_resizeDiv_tr
    .dynDiv_resizeDiv_bl
    .dynDiv_resizeDiv_br

#resizable-container.cont2.dynDiv_moveDiv
    section.resizedContainer2
    .dynDiv_resizeDiv_tl
    .dynDiv_resizeDiv_tr
    .dynDiv_resizeDiv_bl
    .dynDiv_resizeDiv_br

#resizable-container.cont3.dynDiv_moveDiv
    section.resizedContainer3
    .dynDiv_resizeDiv_tl
    .dynDiv_resizeDiv_tr
    .dynDiv_resizeDiv_bl
    .dynDiv_resizeDiv_br

#resizable-container.cont4.dynDiv_moveDiv
    section.resizedContainer4
    .dynDiv_resizeDiv_tl
    .dynDiv_resizeDiv_tr
    .dynDiv_resizeDiv_bl
    .dynDiv_resizeDiv_br