#mathInput
    border-color : blue
    border-width : 1px
    border-style : solid
    width : 300px

#mathDiv
    display      : inline-block
    padding      : 5px
    border-color : red
    border-width : 1px
    border-style : solid

#mathRes
    padding      : 5px
    border-color : green
    border-width : 1px
    border-style : solid