table {
  border-collapse: collapse;
}
thead {
  font-weight: bold;
  background-color: #8f4f8f;
  color: #fff;
}
td {
  padding: 0px 5px 0px 10px;
  border-color: #afb9ee;
  border-width: 1px;
  border-style: solid;
}
#editableDiv {
  border: #000;
  border-width: 1px;
  border-style: solid;
}
.odd {
  background-color: #efdfef;
}
.even {
  background-color: #fff;
}
