#content-div
    display          : block

#html-content
    background-color : #F4F4FF
    display          : inline-block
    margin-left      : 280px
    position         : relative

#md-content
    position : absolute
    height   : 260px
    width    : 258px