
.controls
    h1 Controls over the long list
    span Initialise list with  
        input.nbRowsToIni(type='number', value='1000')
        span rows
        button.initBtn OK
    br
    span Move list of a half buffer 
    button.goDownBtn down
    button.goUpBtn up
    br
    span Add  a row 
    button.addBtn after selected rows
    br
    span Add  a row at rank
    input.insertionRk(type='number', value='0')
    button.addAtRkBtn OK
    br
    span Delete 
    button.deleteBtn selected rows
    button.deleteAllBtn all rows
    br
    span scroll listener :
    button.unActivateBtn un-activate
    button.activateBtn activate
    br
    span Set height of the viewport to  
        input.viewportHeight(type='number', value='600')
        span px
        button.setHeightBtn OK
    br
    button.testLongListBtn Test consistency
    span.consistencyResult

h1 The long list
span You can :
ul
    li select rows and edit their text  
    li add and delete rows (even those out of the portview)
    li re-order rows or resize the portview
span Scroll as you want, whatever the size of you list, it will always be blazing fast to load and render when scrolling !

.resizable-div
    .longListViewport

h1 AUTOMATIC TESTS
button.autoTestsBtn Run tests !
.tests 
    #mocha
